.bg{
background-image:url("C:\\Users\\Ankitha\\OneDrive\\Documents\\spam\\Cabin-1420x946.webp");
background-size:100% 700px;
background-repeat:no-repeat;
}

.centre{
text-align:center;
color:brown;
font-family:serif;
}

.left{
padding:30px 140px;
font-family:serif;
width:50%;
display:inline-block;
}

#button{
align:center;
background-color:green;
color:white;
border:none;
border-radius:20px;
padding: 10px 30px;
}

.grid{
padding: 30px 120px;
display:grid;
align-items:center;
grid-template-columns:1fr 1fr 1fr;
column-gap:12px
}

.grid-container{
display:grid;
grid-template-columns:1fr 1fr 1fr 1fr;
grid-rows:1;
column-gap:2px
}

